@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --colors-red: hsl(0, 100%, 74%);
  --colors-green: hsl(154, 59%, 51%);
  --colors-blue: hsl(248, 32%, 49%);
  --colors-dark-blue: hsl(249, 10%, 26%);
  --colors-graysh-blue: hsl(246, 25%, 77%);
  --colors-white: hsl(0, 0%, 100%);

  --text-base: 16px;
  --text-small: 10px;

  --radius: 10px;
  --radius-small: 6px;
  --shadow: 0 7px 0px rgba(0, 0, 0, 0.16);
}

body {
  background-color: var(--colors-red);
  background-image: url("../assets/images/bg-intro-desktop.png");
  background-attachment: fixed;
  color: var(--colors-white);
  font-family: "Poppins", monospace;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: min(100%, 1440px);
  gap: 4.68rem;
  margin-inline: auto;
}

.header {
  width: min(100%, 500px);
  overflow: hidden;
}

.header__title {
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 1.4rem;
  transform: translateX(-450px);
  animation: moveX 1s ease forwards;
}

.header__text {
  line-height: 28px;
  transform: translateY(80px);
  animation: moveY 800ms ease-in 500ms forwards;
}

.main {
  width: min(100%, 540px);
}

.main__offer {
  background-color: var(--colors-blue);
  border-radius: var(--radius);
  text-align: center;
  padding-block: 1.2rem;
  padding-inline: 2rem;
  margin-bottom: 1.4rem;
  box-shadow: var(--shadow);
  transform: translateY(-45px);
  opacity: 0;
  animation: scaleGrow 1.5s ease 1.2s forwards;
}

.main__offer span {
  font-weight: 600;
}

.container__claim-form {
  background-color: var(--colors-white);
  border-radius: var(--radius);
  padding: 3rem 2rem;
  width: 100%;
  /* height: 475px; */
  box-shadow: var(--shadow);
}

#claim-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.claim-form__label {
  display: block;
  width: 100%;
  position: relative;
}

.claim-form__input {
  width: 100%;
  padding-inline-start: 1.5rem;
  height: 54px;
  border-radius: var(--radius-small);
  border: 1px solid #ddd;
  outline: none;
  font-weight: 500;
  font-size: var(--text-base);
}

.claim-form__input:focus {
  border: 1px solid var(--colors-dark-blue);
}

[aria-invalid="true"] {
  color: var(--colors-red);
  outline: none;
  border: 2px solid var(--colors-red);
}

[aria-invalid="true"]:focus {
  border: 2px solid var(--colors-red);
}

[aria-invalid="true"]~p {
  color: var(--colors-red);
  font-size: var(--text-small);
  font-style: italic;
  text-align: right;
  margin-top: 5px;
}

.claim-form__icon-error {
  position: absolute;
  right: 25px;
  top: 35%;
  transform: translateY(-50%);
}


.claim-form__input::placeholder {
  font-size: 14px;
}

#claim-form__button {
  background-color: var(--colors-green);
  color: var(--colors-white);
  margin-bottom: 1rem;
  width: 100%;
  border-radius: var(--radius-small);
  box-shadow: 0 4px 0px hsl(154, 63%, 43%);
  height: 3.375rem;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 200ms ease background;
  user-select: none;
}

#claim-form__button:hover {
  background-color: hsla(154, 59%, 51%, 0.85);
}

#main__cliam-form__terms {
  color: var(--colors-graysh-blue);
  font-size: var(--text-small);
  text-align: center;
  line-height: 1.25rem;
}

#main__cliam-form__terms a {
  color: var(--colors-red);
  font-weight: 600;
  text-decoration: none;
}

#main__cliam-form__terms a:hover {
  text-decoration: underline;
}