@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --colors-red: hsl(0, 100%, 74%);
    --colors-green: hsl(154, 59%, 51%);
    --colors-blue: hsl(248, 32%, 49%);
    --colors-dark-blue: hsl(249, 10%, 26%);
    --colors-graysh-blue: hsl(246, 25%, 77%);
    --colors-white: hsl(0, 0%, 100%);

    --text-base: 16px;

    --radius: 10px;
    --radius-small: 6px;
    --shadow: 0 7px 0px rgba(0, 0, 0, .16);
}

body {
    background-color: var(--colors-red);
    background-image: url('../assets/images/bg-intro-desktop.png');
    background-attachment: fixed;
    color: var(--colors-white);
    font-family: 'Poppins', monospace;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: min(100%, 1440px);
    gap: 4rem;
    margin-inline: auto;
}

@media(max-width: 1150px) {
    .container {
        width:95%;
    }
}

@media(max-width: 1024px) {
    .container {
        flex-direction: column;
        padding-block: 2rem;
        width: 90%;
    }
}

.header {
    width: min(100%, 500px);
}

.header__title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 56px;
    margin-bottom: 1rem;
}


.main {
    width: min(100%, 500px);
}

.main__offer {
    background-color: var(--colors-blue);
    border-radius: var(--radius);
    text-align: center;
    padding-block: 1rem;
    margin-bottom: 1.4rem;
    box-shadow: var(--shadow);
    /* temp */
    font-size: 14px;
}

.main__offer span {
    font-weight: 600;
}

.form__container {
    background-color: var(--colors-white);
    border-radius: var(--radius);
    padding: 3rem 2rem;
    width: 100%;
    box-shadow: var(--shadow);
}

#claim-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.claim-form__label {
    display: block;
    width: 100%;
}

.claim-form__input {
    width: 100%;
    padding-inline-start: 1.5rem;
    padding-block: .8rem;
    border-radius: var(--radius-small);
    border: 1px solid #ccc;
    font-weight: 500;
    font-size: var(--text-base);
}

.claim-form__input:focus {
    border-color: var(--colors-dark-blue)
}

.claim-form__input::placeholder {
    font-weight: 600;
    font-size: 14px;
}

#cliam-form__button {
    background-color: var(--colors-green);
    color: var(--colors-white);
    margin-bottom: 1rem;
    width: 100%;
    border-radius: var(--radius-small);
    box-shadow: 0 4px 0px hsl(154, 63%, 43%);
    height: 3rem;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}


#main__cliam-form__terms {
    color: var(--colors-graysh-blue);
    font-size: 12px;
    text-align: center;

}

#main__cliam-form__terms span {
    color: var(--colors-red);
    font-weight: 600;
}